<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mission 123
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-card class="welcome-card">
    
      <ion-card-content>
        <div class="section-title">Name: Gather meteorite samples</div>
        <div class="section-title">Status: Done</div>
        <div class="section-title">Mission description:</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente consectetur mollitia repudiandae illum totam quam vero nisi voluptas earum voluptatem impedit saepe corrupti, qui rem tempore! Quis, iusto officia!
        <div class="section-title">Crew:</div>
        - John Doe<br>
        - John Doe<br>
        - John Doe<br>

        <div class="section-title">Start: 12. Feb 2022</div>
        <div class="section-title">Est. finish: 20. Feb 2022</div>
        
      </ion-card-content>
      
    </ion-card>

    

    

</ion-content>
